<%# frozen_string_literal: true %>
<%- form_object = class_path.include?('admin') ? "[:admin, @#{singular_table_name}]" : "@#{singular_table_name}" -%>
<%- show_path = class_path.include?('admin') ? "[:admin, @#{singular_table_name}]" : "@#{singular_table_name}" -%>
<%- cancel_path = class_path.include?('admin') ? "admin_#{index_helper}_path" : "#{index_helper}_path" -%>
<%%= simple_form_for(<%= form_object %>) do |f| %>
  <%%= errors_for(@<%= singular_table_name %>) %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions actions">
    <%%= link_to 'Show', <%= show_path %> if f.object.persisted? %> &nbsp;     
    <%%= link_to 'Cancel ', <%= cancel_path %> %> &nbsp; 
    
    <%%= f.button :submit, class: 'btn-primary' %>
  </div>
<%% end %>
