<div class="card">
  <div class="card-header">
    <h1><%= plural_table_name.titleize %></h1>
  </div>
  <div class="card-body">
    

    
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <b><%= attribute.human_name %>:</b>
     <%%= @<%= singular_table_name %>.<%= attribute.name %> %> <br>
    <% end -%>
    
    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
    <%%= link_to 'Back', <%= index_helper %>_path %>

  </div>
</div>  
