<div class="card">
  <div class="card-header">
    <h1>Boats</h1>
  </div>
  <div class="card-body">
    

    
          <b>Name:</b>
     <%= @boat.name %> <br>
          <b>Description:</b>
     <%= @boat.description %> <br>
          <b>Length:</b>
     <%= @boat.length %> <br>
        
    <%= link_to 'Edit', edit_boat_path(@boat) %> |
    <%= link_to 'Back', admin_boats_path %>

  </div>
</div>  
