<tr id="<%= dom_id boat %>">
  <td><%= boat.name %></td>
  <td><%= boat.description %></td>
  <td><%= boat.length %></td>
  <td>
    <%= link_to "Show", boat, class: "btn btn-sm btn-outline-primary" %>
    <%= link_to "Edit", edit_boat_path(boat), class: "btn btn-sm btn-outline-secondary" %>
    <%= link_to "Destroy", boat, data: { turbo_method: :delete, confirm: "Are you sure?" }, class: "btn btn-sm btn-outline-danger" %>
  </td>
</tr>
